@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600");
 html, a {
     color: inherit;
     text-decoration: none;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     padding-bottom: 2%;
}
 .container-leo {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     color: white;
}
.container-staff {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}
.edit-users{
  padding-left: 30%;
  padding-right: 30%;
}
.main-staff {
    padding-bottom: 30px;
    padding-left: 75px;
    padding-right: 75px;
    width: 100%;
    text-align: center;
    color: white;
}
.main-header-staff {
    font-family: Nunito Sans;
    font-size: 18px;
    color: white;
    padding-bottom: 5px;
}

 .main-leo {
     padding-bottom: 30px;
     padding-left: 15px;
     padding-right: 15px;
     width: 100%;
     text-align: center;
     color: white;
}
 .main-header-leo {
     font-family: Nunito Sans;
     font-size: 18px;
     color: white;
     padding-bottom: 5px;
}
 .main {
	 	 margin-top: 5%;
     padding-bottom: 30px;
     padding-left: 15px;
     padding-right: 15px;
     background: #FFF;
     width: 70%;
     box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.6);
     text-align: center;
}
 .main-logo {
     width: 120px;
     height: 120px;
     padding: 10px;
}
 .main-header {
     font-family: Nunito Sans;
     font-size: 18px;
     color: #525252;
     padding-bottom: 5px;
}
 .button-large {
     font-family: Nunito Sans;
     font-size: 16px;
     color: #FFF;
     width: 494px;
     height: 60px;
     line-height: 60px;
     display: inline-block;
     margin-top: 10px;
     cursor: pointer;
     margin-bottom: 50px;
}
 .dropdown {
     font-family: Nunito Sans;
     font-size: 16px;
     color: #000;
     width: 494px;
     height: 40px;
     line-height: 60px;
     display: inline-block;
     margin-top: 10px;
     cursor: pointer;
     padding-left: 8px;
}
 form {
     margin-bottom: 0px !important;
}
 .textbox {
     font-family: Nunito Sans;
     font-size: 16px;
     color: #000;
     height: 40px;
     line-height: 60px;
     display: inline-block;
     margin-top: 10px;
     width: auto;
}
/* Selector */
 .selector-btn {
     font-family: Nunito Sans;
     font-size: 16px;
     color: #FFF;
     width: 100%;
     height: 60px;
     line-height: 60px;
     display: inline-block;
     margin-top: 10px;
     cursor: pointer;
}
 .btn-sb {
     margin-top: 10px;
}
 .button-dark {
     background: #202020 !important;
}
 .loading-page {
     width: 200px;
     height: 30px;
     background: #EB5555 !important;
     color: #FFF;
     position: absolute;
     bottom: 8px;
     right: 8px;
     text-align: center;
     border: 1px SOLID #000;
     line-height: 30px;
     font-family: Arial;
     font-size: 16px;
     display: none;
}
 .loading:after {
     overflow: hidden;
     display: inline-block;
     vertical-align: bottom;
     -webkit-animation: ellipsis steps(4,end) 900ms infinite;
     animation: ellipsis steps(4,end) 900ms infinite;
     content: "\2026";
    /* ascii code for the ellipsis character */
     width: 0px;
}
 @keyframes ellipsis {
     to {
         width: 1.25em;
    }
}
 @-webkit-keyframes ellipsis {
     to {
         width: 1.25em;
    }
}
 .float{
     position:fixed;
     width:60px;
     height:60px;
     bottom:40px;
     right:40px;
     background-color:black;
     color:#FFF;
     border-radius:50px;
     text-align:center;
     box-shadow: 2px 2px 3px black;
}
 .my-float{
     margin-top:22px;
}
 a.disabled {
     pointer-events: none;
     cursor: default;
}
 .glow {
     text-shadow: 0 0 5px #FF0000;
}
 br-leo-name-search {
     display: block;
     margin: 3px 0;
}
br-lookup-break-tables {
  display: block;
  margin: 10px 0;
}
 br-leo {
     display: block;
     margin: 6px 0;
}
 table {
     width: 100%;
     border-collapse: collapse;
}
 table, td, th {
     padding: 5px;
}
 caption {
     display: table-caption;
     text-align: center;
}
 th {
    text-align: left;
}
 .fahover {
     background-color: yellow;
}
.modal-xl {
    min-width: 95%;
}
.center {
    margin: auto;
    width: 50%;
}
.select-units {
    border:0px;
   outline:0px;
   -moz-appearance: none;
    appearance: none;

    /* padding: 10px 10px 10px 5px; */
    display: block;
    border: none;

}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
